#form {
  margin: 0 auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 25px;
  border: 1px solid #000;
}
.form-group {
  display: flex;
  flex-direction: column;
}
h1 {
  margin: 0;
  text-align: center;
}
label {
  padding: 10px;
}
input {
  padding: 5px;
}
button {
  align-self: center;
  margin-top: 30px;
  color: #fff;
  background: #0c0b46;
  border: 1px solid transparent;
  padding: 6px 50px;
}
